body {
  margin: 0;
  overflow: hidden;
}

#gameArea {
  width: 3000px;
  height: 3000px;
  position: relative;
  background: #eef2f7;
}

.blob {
  width: 40px;
  height: 40px;
  position: absolute;
  background: red;
  border-radius: 50%;
  transition: left 0.05s linear, top 0.05s linear;
}
